*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: 'Open Sans', sans-serif;
}
.navabar{
    display: flex;
    align-items: center;
    padding: 30px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;

}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
p{
    color: rgb(0, 0, 0);
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px; 
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 20px 0;
}
.btn{
    display: inline-block;
    background: rgb(50, 121, 179);
    color: rgb(253, 254, 255);
    padding: 8px 30px; 
    margin: 30px;
    border-radius: 30px;
    transition: 0.5s;
}
.btn:hover{
    background: rgb(1, 1, 39);

}
.header{
    background: radial-gradient(rgb(255, 255, 255), rgb(0, 110, 255));
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: 0.5s;
}
.col-3 img{
    width: 100%;
    transition: transform 0.5s;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col4{
 flex-basis: 25%;   
 padding: 10px;
 min-width: 200px;
 margin-bottom: 50px;
 transition: transform 0.5s;
}
.col4 img{
    width: 100%;
}
.col4:hover{
    transform: translateY(-5px);
}
.brands{
    margin: 100px auto;
}
.col-5{
    width: 100px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter:grayscale(100%)
}
.col-5 img:hover{
    filter: grayscale(0%);  
    transform: translateY(-10px);
}
.categories{
    text-align: center;
    font-size: 50px;
}
.col-3 img:hover{
    transform: translateY(10px);
}
.footer{
    background: rgb(0, 0, 0);
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col1, .footer-col2, .footer-col3, .footer-col4{
min-width: 250px;
margin-bottom: 20px;
}
.footer-col1{
    flex-basis: 30%;
}
.footer-col2{
    flex: 1;
    text-align: center;
}
.footer-col2 img{
width: 180px;
margin-bottom: 20px;
}
.footer-col3, .footer-col4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.applogo{
    margin-top: 20px;
}
.applogo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}        

/*-----------Allproducts--------------*/
.row-2{
    justify-content: space-between ;
    margin: 100px auto 50px;
}
select{
    border: 1px solid blue;
}
select :focus{
    outline: none;
}
.page-btn{
    margin: 0 auto;
}
.page-btn span{
    display: inline-block;
    border: 1px solid black;    
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: blue;
    color: #fff;
}
/*-------------------single product-------------*/
.single-product{
    margin-top: 80px;
}
.single-product .col-2  img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;

}
.single-product h4{
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid blue;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color:aqua;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
/*-----------------Laptops-------------------*/
.footer-col3
{
    text-emphasis-color: blue;
}
/*media query for less than 600screen size*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col4, .col-5{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product .h1{
        font-size: 26px;
        line-height: 32px;
    }
    .footer-col2 .p{
        font: sans;
        font-size: small
    }
}